html {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
}
body {
  background: #111;
  /* overflow: hidden; */
}
a {
  color: #eb4034;
}
h1 {
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0;
  color: #999;
  font-weight: bold;
  font-style: italic;
}
h2 {
  font-size: 2.8rem;
  margin: 0 0 1rem;
  font-weight: normal;
  line-height: 1.333;
  letter-spacing: 1px;
  vertical-align: middle;
}
p {
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: 1px;
  max-width: 960px;
}

.app {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}
.scene {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.info {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.9);
  color: white;
  width: 375px;
  box-sizing: border-box;
  padding: 0 0.5rem;
  border-radius: 5px;
}
.info p {
  font-size: 0.8rem;
}
.info .note {
  background: #ebd078;
  color: black;
  display: inline-block;
  padding-left: 3px;
  padding-right: 3px;
}

.content {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0.5rem;
  box-sizing: border-box;
  text-align: center;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.content.active {
  display: block;
  opacity: 1;
}
.content h2 {
  background: rgba(0,0,0,0.9);
  display: block;
  padding: 0.5rem 1rem 40px;
  border-radius: 10px;
  vertical-align: middle;
  max-width: 840px;
  margin: 0 auto 60px;
}
.slider-container {
  display: block;
  vertical-align: middle;
  width: 100%;
  max-width: 840px;
  white-space: nowrap;
  margin: -95px auto 30px;
}

.slider-input {
  background: transparent;
  border: none;
  color: white;
  border: 1px solid transparent;
  width: 192px;
  font-weight: bold;
  display: inline-block;
}
.slider-input:focus {
  background: #eb4034;
  color: black;
  outline: none;
}

.toggle-panel {
  background: #9c2f27;
  color: white;
  border: none;
  display: block;
  padding: 0 1rem;
  position: absolute;
  height: 30px;
  line-height: 30px;
  top: -30px;
  right: 10px;
  cursor: pointer;
}
.toggle-panel:hover {
  background: #d64338;
}

/* .ui-slider-horizontal {
  height: 10px;
  background: #444;
  border-radius: 5px;
}
.ui-slider .ui-slider-handle {
  width: 30px;
  height: 30px;
  cursor: grab;
  border-radius: 50%;
  background: #888;
  border: 3px solid white;
  outline: none;
}
.ui-slider .ui-slider-handle.ui-state-active {
  cursor: grabbing;
}
.ui-slider-horizontal .ui-slider-handle {
  top: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.ui-slider .ui-slider-handle:focus {
  background: #aaa;
  border-color: #eb4034;
} */

/* Generated: http://danielstern.ca/range.css/#/ */
input[type=range] {
  width: 100%;
  margin: 9.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline-color: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: rgba(68, 68, 68, 0.78);
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -9.3px;
  width: 30px;
  height: 30px;
  background: #888888;
  border: 3px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #eb4034;
}
input[type=range]::-moz-range-track {
  background: rgba(68, 68, 68, 0.78);
  border: 0;
  border-radius: 1.3px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #888888;
  border: 3px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 10.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #323232;
  border: 0;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: rgba(68, 68, 68, 0.78);
  border: 0;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  width: 30px;
  height: 30px;
  background: #888888;
  border: 3px solid #ffffff;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #eb4034;
}
input[type=range]:focus::-ms-fill-upper {
  background: #eb4034;
}
